Makefile
*.o
message-merge
ui_*.h
moc_*.cpp
qrc_*.cpp
*.pro.user*
Makefile*
.make*
*.SIS
*.sis
*.sisx
*.pkg
*.loc
*.rss
*.Debug
*.Release
*.zip
*.mmp
messagemerge
ABLD.BAT
bld.inf
release/*
debug/*
dist/*
screenshots/*
win32dlls/*
output/*

